.slider {
  margin: 0 auto;
  width: 1200px;
  height: 260px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: rgb(236, 236, 236) 0rem 0rem 5rem 1rem;
}
.slides {
  width: 400%;
  height: 600px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}
.slide img {
  width: 1200px;
}
.manual-navigation {
  position: absolute;
  width: 1200px;
  margin-top: -600px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  margin-top: 200px;
  border: 0.12rem solid #bfade1;
  padding: 10px;
  border-radius: 1rem;
  cursor: pointer;
  transition: 1s;
  width: 1rem;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn :hover {
  background-color: #512da8;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}
.navigation-auto div {
  border: 0.12rem solid #512da8;
  margin-top: 170px;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  transition: 1s;
  width: 1rem;
  border-radius: 1rem;
}
.navigation-auto {
  position: absolute;
  width: 1200px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #512da8;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #512da8;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #512da8;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #512da8;
}
footer {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(162, 162, 162);
}
.direitos-autorais {
  margin-top: 180px;
  color: white;
}
