
body{
    background-color: #f6f1ff;
}

section, footer{
    padding: 54px 0;
}

h3{
    font-size: 50px;
}

p{
    color: #0000009c;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.button{
    margin-top: 15px;
    background-color: #f6f1ff;
    color: #1b0d35;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
}

.button-body{
    margin-top: 15px;
    background-color: #1b0d35;
    color: #fcf0ff;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
}


.button.animate-button{
    animation: animate-outline 1s ease-out infinite;
}

.button:hover{
    background-color: #1b0d35;
    color: #fcf0ff;
}

@keyframes animate-outline {
    from{
        outline: 0px solid #bc98ff;
    }
    to{
        outline: 15px solid #4f9bf900;
    }
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a::after{
    content: " ";
    background-color: #dac6ff;
    height: 2px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}


.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 96px;
    letter-spacing: 15px;
    font-weight: 600;
    color: aliceblue;
    /* efeito de glow */
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 0px #fff,
      0 0 0px rgb(172, 95, 197),
      0 0 0px rgb(172, 95, 197),
      0 0 0px rgb(172, 95, 197),
      0 0 100px rgb(172, 95, 197),
      0 0 150px rgb(172, 95, 197);
}

.banner .banner-text p{
    font-size: 20px;
    color: #f7f7f7;
    font-weight: normal;
    margin: 18px 0;
}

.info .container{
    display: flex;
    align-items: center;
}

.info .info-text{
    width: 50%;
    padding: 0 40px;
}

.info.info-text h3{
    font-size: 56px;
}

.info .info-text p{
    margin: 5px 0 10px 0;
}

.info .info-img{
    width: 100%;
}

.info .info-img img{
    width: 100%;
}

.rating h3{
    text-align: center;
}

.rating p{
    margin-bottom: 20px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
}

.rating .card-item{
    background-color: #eee8fa;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.rating .card-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.rating .card-item .username{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.rating .card-item .user-rating{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.rating .card-item .star{
    margin: 5px 0;
    border-top: 2px solid #71767a23;
}

.rating .card-item .star i{
    color: #1b0d35;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.rating .card-item:hover{
    background-color: #e5d8fa;
    margin-top: -5px;
}

.rating .card-item:hover .username, .rating .card-item:hover .user-rating, .rating .card-item:hover .star i{
    color: #1b0d35;
}


.footer{
    border-top: 1px solid #1b0d35;
    background-color: #d9d4e2;
    text-align: center;
    padding: 15px 15px;
}

.footer i{
    color: white;
    font-size: 19px;
    background-color: #1b0d35;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.footer p{
    margin-top: 10px;
    color: #1b0d35;
    font-weight: 500;
}
